<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmy.dataprocess.dao.ReceiveStatMapper">
  <resultMap id="BaseResultMap" type="com.hsmy.dataprocess.pojo.ReceiveStat">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="STAT_DATE" jdbcType="DATE" property="statDate" />
    <result column="STAT_COUNT" jdbcType="BIGINT" property="statCount" />
    <result column="IDFA_COUNT" jdbcType="BIGINT" property="idfaCount" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
  </resultMap>
  <sql id="Base_Column_List">
    id, STAT_DATE, STAT_COUNT, createtime, duration, IDFA_COUNT
  </sql>
  <select id="countPagesByDay" resultType="java.lang.Integer">
    select count(1) from (select count(1) from T_RECEIVE_STAT group by DATE_FORMAT(STAT_DATE,'%Y%m')) alias
  </select>
  <select id="selectPageByDay" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from T_RECEIVE_STAT where DATE_FORMAT(STAT_DATE,'%Y%m')=DATE_FORMAT(date_sub(curdate(),interval #{page} month),'%Y%m') order by STAT_DATE asc
  </select>
  <select id="selectByWeek" resultMap="BaseResultMap">
    select * from T_RECEIVE_STAT order by STAT_DATE desc limit 7
  </select>
</mapper>