<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmy.dataprocess.dao.SendLogMapper">
  <resultMap id="BaseResultMap" type="com.hsmy.dataprocess.pojo.SendLog">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SCOUNT" jdbcType="INTEGER" property="scount" />
    <result column="FCOUNT" jdbcType="INTEGER" property="fcount" />
    <result column="FILENAME" jdbcType="VARCHAR" property="filename" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCOUNT, FCOUNT, FILENAME, SENDTIME
  </sql>
  <insert id="insertSelective" parameterType="com.hsmy.dataprocess.pojo.SendLog">
    insert into T_SEND_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="scount != null">
        SCOUNT,
      </if>
      <if test="fcount != null">
        FCOUNT,
      </if>
      <if test="filename != null">
        FILENAME,
      </if>
      <if test="sendtime != null">
        SENDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scount != null">
        #{scount,jdbcType=INTEGER},
      </if>
      <if test="fcount != null">
        #{fcount,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectByDay" resultMap="BaseResultMap">
    select DATE_FORMAT(SENDTIME,'%Y%m%d') sdate,sum(scount) scount,sum(fcount) fcount from T_SEND_LOG group by sdate order by sdate desc
  </select>
  <select id="selectByHour" resultMap="BaseResultMap">
    select * from T_SEND_LOG order by SENDTIME
  </select>
  <select id="countByFileName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from T_SEND_LOG where FILENAME = #{filename,jdbcType=VARCHAR}
  </select>
</mapper>